

.main_card {
  @apply relative max-w-[384px] w-full h-[248px] rounded-2xl flex justify-center items-end cursor-pointer;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background: #2A2C2F;
    opacity: 0.3;
    width: 100%;
    height: 100%;
    @apply rounded-2xl;
  }
}